[phases.setup]
nixPkgs = ["nodejs_22", "nginx", "gettext"]

[phases.install]
cmds = ["npm install"]

[phases.build]
cmds = ["npm run build"]

[start]
cmd = "envsubst '${PORT}' < /app/nginx.conf > /tmp/nginx.conf && nginx -c /tmp/nginx.conf -g 'daemon off;'"
